@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .about {
    &__wrapper {
      padding-right: 0;
      column-gap: 40px;
    }
    &__skills {
      column-gap: 20px;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-rows: repeat(2, 235px);
    }
  }
  .price {
    &__wrapper {
      column-gap: 240px;
    }
  }
  .contacts {
    &__btn {
      font-size: 10px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 278px auto;
      row-gap: 10px;
      column-gap: 30px;
    }
    &__text {
      font-size: 12px;
    }
    &__skills {
      &-item {
        gap: 10px;
      }
      &-text {
        font-size: 10px;
      }
    }
  }
  .title {
    &_fz14 {
      font-size: 12px;
    }
    &_fz36 {
      font-size: 30px;
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, minmax(270px, auto));
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-rows: repeat(2, 180px);
    }
  }
  .price {
    &__wrapper {
      padding: 0 40px;
      column-gap: 70px;
    }
  }
  .contacts {
    &__wrapper {
      padding: 0;
      gap: 25px;
    }
    &__form {
      gap: 18px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .title {
    &_fz48 {
      font-size: 28px;
    }
  }
  .promo {
    &__title {
      line-height: 39px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 400px auto auto;
      row-gap: 40px;
    }
    &__photo {
      grid-row: unset;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, minmax(270px, auto));
    }
    &__lines {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, minmax(70px, auto));
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 180px);
      .high {
        grid-column: unset;
        grid-row: unset;
      }
      .long {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
  .price {
    padding-top: 40px;
    &__wrapper {
      margin-top: 20px;
      padding: 0 25px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, minmax(44px, auto));
      row-gap: 20px;
    }
  }
  .contacts {
    padding-top: 40px;
    padding-bottom: 50px;
    &__photo {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &_fz14 {
      font-size: 14px;
    }
    &_fz36 {
      font-size: 24px;
    }
    &_fz48 {
      font-size: 26px;
    }
    &__section {
      &-subtitle {
        line-height: 36px;
      }
    }
  }
  .promo {
    background: url('../img/main_bg.jpg') 55% center / cover no-repeat;
    &__btns {
      margin-top: 32px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
    }
    &__list {
      margin-left: 55px;
    }
  }
  .about {
    &__wrapper {
      grid-template-rows: 340px auto auto;
      row-gap: 20px;
    }
    &__descr {
      margin-top: 20px;
    }
    &__text {
      font-size: 14px;
    }
    &__skills {
      grid-template-columns: 260px;
      grid-template-rows: repeat(3, minmax(115px, auto));
      &-item {
        gap: 20px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
  .resume {
    padding-top: 40px;
    .divider {
      margin-top: 15px;
    }
    &__wrapper {
      margin-top: 40px;
      padding: 0 10px;
    }
    &__item {
      &-location {
        font-size: 9px;
        margin: 0;
      }
    }
  }
  .skills {
    padding-top: 40px;
    &__wrapper {
      margin-top: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, minmax(270px, auto));
    }
    &__lines {
      margin-top: 40px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, minmax(70px, auto));
    }
  }
  .portfolio {
    padding-top: 40px;
    .divider {
      margin-top: 15px;
    }
    &__wrapper {
      margin-top: 40px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 280px);
      gap: 20px;
      .high {
        grid-column: unset;
        grid-row: unset;
      }
      .long {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
  .contacts {
    &__form {
      grid-template-columns: 1fr;
      grid-template-rows: 45px 45px 190px minmax(45px, auto);
    }
    &__textarea {
      grid-row: unset;
      grid-column: unset;
      width: 100%;
    }
    &__triggers {
      grid-column: unset;
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 20px;
    }
    &__btn {
      order: 2;
      max-width: 220px;
      margin: 0 auto;
      font-size: 14px;
    }
    &__policy {
      width: 180px;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}
