.promo {
  position: relative;
  padding-top: 206px;
  min-height: 100vh;
  background: url('../img/main_bg.jpg') center center/cover no-repeat;
  z-index: 1;
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 10;
    @include before_circle;
  }
  &__title {
    margin-top: 8px;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    gap: 20px;
  }
}
