.resume {
  padding-top: 120px;
  &__wrapper {
    margin-top: 60px;
    padding: 0 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 136px;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 35px;
      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        background: #ffa501;
        border-radius: 50%;
      }
    }
    ul {
      list-style-type: none;
      li {
        position: relative;
        &:after {
          content: '';
          width: 1px;
          height: calc(100% + 16px);
          position: absolute;
          top: -16px;
          left: -7.5px;
          background-color: #000;
        }
      }
    }
  }
  &__item {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      background-color: #000;
      height: 1px;
      width: 42px;
      left: -7px;
      top: 62.5px;
    }
    &-head {
      position: relative;
      padding: 45px 0 0 100px;
    }
    &-icon {
      position: absolute;
      bottom: 3px;
      left: 50px;
      @include before_circle;
      &:before {
        left: -15px;
        top: -15px;
      }
    }
    &-location {
      font-size: 12px;
      line-height: 18px;
      margin-top: 5px;
    }
    &-body {
      padding: 0 0 0 35px;
      margin-top: 12px;
      font-size: 12px;
      line-height: 18px;
      color: #000000;
    }
  }
}
