.skills {
  padding: 120px 10px 0 10px;
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(270px, auto));
    grid-auto-rows: minmax(270px, auto);
    gap: 13px;
  }
  &__item {
    border: 1px solid #000000;
    padding: 30px 30px 25px 30px;
  }
  &__img {
    min-height: 65px;
    display: flex;
    img {
      max-width: 100%;
    }
  }
  &__name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  &__descr {
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
  &__lines {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(70px, auto));
    grid-auto-rows: minmax(70px, auto);
    column-gap: 45px;
    row-gap: 30px;
  }
  &__line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-descr {
      display: flex;
      justify-content: space-between;
    }
    &-name {
      padding-top: 8px;
      padding-left: 14px;
      position: relative;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      @include before_circle;
      &:before {
        top: 0;
      }
    }
    &-percentage {
      padding-top: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
    &-wrapper {
      width: 100%;
      height: 14px;
      background: #e8e4de;
      border-radius: 4px;
    }
    &-yellow {
      height: 14px;
      background: #ffa501;
      border-radius: 4px;
    }
  }
}
